.idea/
*.zip
*.parquet

# personal ssh script to train on remote machine
scpScript.py
scpDataset.py
scpBack.py

# you can create a test file at root to make fast tests
test.py

# hide execution artefacts
mlruns/
_Artifacts/*
!_Artifacts/readme.md
output.txt

# hide IP, API tokens and other secrets
_Utils/secrets_stuffs.py


__pycache__/

# Do not put any csv or dataset in git !
A_Dataset/**/*.csv
A_Dataset/**/map.png

# Do not put any built lib or lib building artefact in git ! 
_Lib/*
!_Lib/build.py
!_Lib/setup.py
!_Lib/example.py
!_Lib/readme.md
!_Lib/2022-01-12_13-19-13_SAMU31_39ac45.csv
!_Lib/2022-01-15_14-25-40_FHJAT_39a413.csv
!_Lib/AdsbAnomalyDetector/
_Lib/AdsbAnomalyDetector/*
!_Lib/AdsbAnomalyDetector/__init__.py
!_Lib/AdsbAnomalyDetector/AdsbAnomalyDetector.py
_dist

# remove artefacts from the dataset cleaning script
_AircraftClassificationDatasetGenerator/_Artifacts/*
!_AircraftClassificationDatasetGenerator/_Artifacts/readme.md
_AircraftClassificationDatasetGenerator/**/*.csv
_AircraftClassificationDatasetGenerator/**/*.parquet
